{
  "extends": [
    "plugin:prettier/recommended"
  ],
  "ignorePatterns": ["common/kolibri/"],
  "plugins": ["prettier"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2021
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ]
  }
}