html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button {
  background-color: transparent;
}

:root {
  --color-yellow: #F9DC5C;
  --color-pink: #E8A1D1;
  --color-red: #E84855;
  --color-blue: #0D4087;
  --color-black: #000000;
  --spacing: 0.25rem;
  --font-size-s: 1rem;
  --font-size-m: 1.5rem;
  --font-size-l: 2rem;
  --font-size-xl: 3rem;
  --inner-text-shadow: 1px 1px white, -1px -1px #444;
  --shadow-4: 0 1px 1px rgba(0,0,0,0.15), 
              0 2px 2px rgba(0,0,0,0.15), 
              0 4px 4px rgba(0,0,0,0.15), 
              0 8px 8px rgba(0,0,0,0.15);
}

body, html {
  height: 100%;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

h1 {
  font-size: var(--font-size-xl);
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.2em;
}
h2 {
  font-size: var(--font-size-l);
  text-transform: uppercase;
  font-weight: bold;
}
h3 {
  font-size: var(--font-size-m);
  text-transform: uppercase;
  font-weight: bold;
}
h4 {
  font-size: var(--font-size-s);
  text-transform: uppercase;
  font-weight: bold;
}

/**BUTTON*/
.button {
  border-radius: 5px;
  padding: calc(var(--spacing) * 2);
  border: 3px solid var(--color-black);
  font-size: var(--font-size-m);
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-black);
}

.icon-button {
  
  font-size: var(--font-size-xl);
  border: 0;

}
.icon-button [class^="icon-"] {
  text-shadow: var(--shadow-4);
}

.icon-button.active {
  color: var(--color-pink);
}
.icon-button.active [class^="icon-"]  {
  text-shadow: var(--inner-text-shadow);
}

/**LABEL **/
label {
  font-size: var(--font-size-m);
  text-transform: uppercase;
  font-weight: bold;
}

/**BALL ANIMATION*/
.ball {
  border-radius: 50%;
  position: absolute;
  transition: transform .5s ease;
}

.ball-background {
  background-color: var(--color-yellow);
  position: absolute;
  inset: 0;
  overflow: hidden;
}

.top-left {
  background-color: var(--color-red);
  width: 300px;
  height: 300px;
  transform: translateX(-50px);
}

.right {
  background-color: var(--color-pink);
  width: 500px;
  height: 500px;
  transform: translateX(150px);
}

.bottom-right {
  background-color: var(--color-blue);
  width: 400px;
  height: 400px;
  transform: translate(225px, 470px);
}

/* General Site Wrapper Style */
.site-wrapper {
  padding: calc(var(--spacing) * 4);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: calc(var(--spacing) * 4);
  background-color: var(--color-yellow);
}

.home.side-wrapper {
  gap: calc(var(--spacing) * 30);
}

.z-index-over-background {
  z-index: 1;
}

/* BAR Site Styles */ 
.bar img {
  max-width: 100%;
}

.bar .info-icons {
  font-size: var(--font-size-m);
}

.data-wrapper {
  display: flex;
  gap: calc(var(--spacing) * 2);
}

.data-wrapper .data {
  display: flex;
  flex-direction: column;
}

.data-wrapper .data label {
  font-size: var(--font-size-s);
  font-weight: bold;
  text-transform: uppercase;
}



/* SLIDER Styling */

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  cursor: pointer;
  margin-top: -9px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  --slider-button-size: 20px;
  width: var(--slider-button-size);
  height: var(--slider-button-size);
  border-radius: 50%;
  background-color: var(--color-pink);
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  cursor: pointer;
  --slider-button-size: 20px;
  width: var(--slider-button-size);
  height: var(--slider-button-size);
  border-radius: 50%;
  background-color: var(--color-pink);
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  background-color: var(--color-black);
  height: var(--slider-width);
  --slider-width: 3px;
}

input[type=range]::-moz-range-track {
  width: 100%;
  background-color: var(--color-black);
  height: var(--slider-width);
  --slider-width: 3px;
}

input[type=range]::-ms-track { /* should come after -webkit- */
	border-color: transparent;
	color: transparent;
  width: 100%;
  background-color: var(--color-black);
  height: var(--slider-width);
  --slider-width: 3px;
}

/*FILTER Site*/
.filter-wrapper {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 10);
  height: 100%;
  width: 100%;
}

